pib/nodered/generic_register.json
[{"id":"54777229.ab888c","type":"exec","z":"77681efb.8897e","command":"ip addr | grep 'state UP' -A2 | tail -n1 | awk '{print $2}' | cut -f1  -d'/'  | head -c -1","addpay":false,"append":"","useSpawn":"","name":"get local IP","x":402.4444465637207,"y":315.55556774139404,"wires":[["35a28764.ca5d78"],[],[]]},{"id":"35a28764.ca5d78","type":"function","z":"77681efb.8897e","name":"setup screen data","func":"var screendata = {};\nscreendata['notify_url'] = 'https://' + msg.payload + ':1880/notify'\nscreendata['name'] = 'screen10'\nscreendata['display'] = 0\nmsg.payload=screendata\nreturn msg;\n","outputs":1,"noerr":0,"x":566.8888702392578,"y":239.88889694213867,"wires":[["97f5e2b3.680a2"]]},{"id":"97f5e2b3.680a2","type":"json","z":"77681efb.8897e","name":"","x":735.7777862548828,"y":240.33333778381348,"wires":[["e6d0c1bb.192f4","862c6309.79d3a"]]},{"id":"e6d0c1bb.192f4","type":"debug","z":"77681efb.8897e","name":"","active":true,"console":"false","complete":"false","x":843.7777938842773,"y":166.33334159851074,"wires":[]},{"id":"2597317a.da68ce","type":"http in","z":"77681efb.8897e","name":"","url":"/trigger_register","method":"post","swaggerDoc":"","x":101,"y":125,"wires":[["b0625853.4f9da8","5d44041a.a2bbfc"]]},{"id":"b0625853.4f9da8","type":"http response","z":"77681efb.8897e","name":"respond 200","x":319.11109161376953,"y":106.22222900390625,"wires":[]},{"id":"93f0e2e7.6c0f2","type":"switch","z":"77681efb.8897e","name":"isops","property":"payload","rules":[{"t":"eq","v":"0"},{"t":"else"}],"checkall":"true","outputs":2,"x":257.6666717529297,"y":244.44444465637207,"wires":[["e96dcb5f.169238"],["54777229.ab888c"]]},{"id":"5d44041a.a2bbfc","type":"exec","z":"77681efb.8897e","command":"curl http://169.254.169.254/latest/meta-data/public-ipv4 --connect-timeout 1 > /dev/null 2>&1","addpay":false,"append":"","useSpawn":"","name":"isops","x":121.1111068725586,"y":231.4444408416748,"wires":[[],[],["93f0e2e7.6c0f2"]]},{"id":"862c6309.79d3a","type":"http request","z":"77681efb.8897e","name":"Register screen on bettercast","method":"POST","ret":"txt","url":"https://bettercast.ddns.net:1880/register","x":889.3888244628906,"y":304.4444637298584,"wires":[[]]},{"id":"e96dcb5f.169238","type":"http request","z":"77681efb.8897e","name":"get OpenStack IP","method":"GET","ret":"txt","url":"http://169.254.169.254/latest/meta-data/public-ipv4","x":404.49999237060547,"y":185.8888931274414,"wires":[["35a28764.ca5d78"]]}]
