pib/nodered/notify.json
[{"id":"f8eeee56.07111","type":"exec","z":"6184226d.9e7bdc","command":"/home/pi/rasppi/pib/start_browser.sh ","addpay":true,"append":"","useSpawn":"","name":"start chromium","x":771,"y":220,"wires":[[],[],[]]},{"id":"c8089736.37f768","type":"http in","z":"6184226d.9e7bdc","name":"","url":"/notify","method":"post","swaggerDoc":"","x":134,"y":189,"wires":[["a6d63db6.5929c"]]},{"id":"a6d63db6.5929c","type":"function","z":"6184226d.9e7bdc","name":"post-check","func":"//msg.payload=msg.payload['url'];\nif ('url' in msg.payload) {\n    command_args = \":0 \"+msg.payload.url;\n    msg.payload=command_args;\n} else {\n    msg.payload='shutdown';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":343,"y":200,"wires":[["db8c4c75.2473b","94d450f0.6b2bb"]]},{"id":"db8c4c75.2473b","type":"switch","z":"6184226d.9e7bdc","name":"","property":"payload","rules":[{"t":"eq","v":"shutdown"},{"t":"else"}],"checkall":"true","outputs":2,"x":517,"y":204,"wires":[["bf013d77.40fec"],["f8eeee56.07111"]]},{"id":"bf013d77.40fec","type":"exec","z":"6184226d.9e7bdc","command":"killall chromium-browser","addpay":false,"append":"","useSpawn":"","name":"kill chromium","x":767,"y":152,"wires":[[],[],[]]},{"id":"94d450f0.6b2bb","type":"debug","z":"6184226d.9e7bdc","name":"","active":true,"console":"false","complete":"false","x":533,"y":364,"wires":[]}]
