nodered/register_screen_on_bettercast_for_rasppi.json
[{"id":"54777229.ab888c","type":"exec","z":"77681efb.8897e","command":"ip addr | grep 'state UP' -A2 | tail -n1 | awk '{print $2}' | cut -f1  -d'/'  | head -c -1","addpay":false,"append":"","useSpawn":"","name":"get local IP","x":203,"y":299,"wires":[["35a28764.ca5d78"],[],[]]},{"id":"35a28764.ca5d78","type":"function","z":"77681efb.8897e","name":"","func":"var screendata = {};\nscreendata['notify_url'] = 'https://' + msg.payload + ':8080/notify'\nscreendata['name'] = 'screen10'\nscreendata['display'] = 0\nmsg.payload=screendata\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":304,"wires":[["97f5e2b3.680a2"]]},{"id":"97f5e2b3.680a2","type":"json","z":"77681efb.8897e","name":"","x":550,"y":302,"wires":[["e6d0c1bb.192f4"]]},{"id":"e6d0c1bb.192f4","type":"debug","z":"77681efb.8897e","name":"","active":true,"console":"false","complete":"false","x":723,"y":301,"wires":[]},{"id":"2597317a.da68ce","type":"http in","z":"77681efb.8897e","name":"","url":"/trigger_register","method":"post","swaggerDoc":"","x":122,"y":412,"wires":[["54777229.ab888c","b0625853.4f9da8"]]},{"id":"b0625853.4f9da8","type":"http response","z":"77681efb.8897e","name":"","x":346,"y":458,"wires":[]}]
