vm/nodered/notify_open_browser.json
[{"id":"eaa3c497.a8b92","type":"exec","z":"585acd4d.39bd24","command":"/home/ubuntu/rasppi/vm/start_browser.sh ","addpay":true,"append":"","useSpawn":"","name":"start chromium","x":705.5,"y":365,"wires":[[],[],[]]},{"id":"97b7a506.163ee8","type":"http in","z":"585acd4d.39bd24","name":"","url":"/notify","method":"post","swaggerDoc":"","x":68.5,"y":334,"wires":[["dadef7e7.f161c","1d27d915.5b9ca7","3ad5a41f.db42e4"]]},{"id":"dadef7e7.f161c","type":"function","z":"585acd4d.39bd24","name":"post-check","func":"//msg.payload=msg.payload['url'];\nif ('url' in msg.payload) {\n    command_args = msg.req.body.disp+\" \"+msg.payload.url;\n    msg.payload=command_args;\n} else {\n    msg.payload='shutdown';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":277.5,"y":345,"wires":[["8042765c.85ee28"]]},{"id":"8042765c.85ee28","type":"switch","z":"585acd4d.39bd24","name":"","property":"payload","rules":[{"t":"eq","v":"shutdown"},{"t":"else"}],"checkall":"true","outputs":2,"x":451.5,"y":349,"wires":[["35e67819.fbcb38"],["eaa3c497.a8b92","4323e1ba.3ce0d8"]]},{"id":"35e67819.fbcb38","type":"exec","z":"585acd4d.39bd24","command":"killall chromium-browser","addpay":false,"append":"","useSpawn":"","name":"kill chromium","x":701.5,"y":297,"wires":[[],[],[]]},{"id":"4323e1ba.3ce0d8","type":"debug","z":"585acd4d.39bd24","name":"","active":true,"console":"false","complete":"false","x":635.5,"y":480,"wires":[]},{"id":"1d27d915.5b9ca7","type":"http response","z":"585acd4d.39bd24","name":"","x":281,"y":261,"wires":[]},{"id":"3ad5a41f.db42e4","type":"debug","z":"585acd4d.39bd24","name":"","active":true,"console":"false","complete":"req.body","x":244,"y":437,"wires":[]}]
