vm/nodered/register_screen_on_bettercast.json
[{"id":"3b549870.f0e8f8","type":"http request","z":"1d896cfb.43132b","name":"get IP","method":"GET","ret":"txt","url":"http://169.254.169.254/latest/meta-data/public-ipv4","x":280,"y":154,"wires":[["533e5958.b9b26"]]},{"id":"ef569a08.9df8","type":"debug","z":"1d896cfb.43132b","name":"","active":true,"console":"false","complete":"false","x":614,"y":189,"wires":[]},{"id":"533e5958.b9b26","type":"function","z":"1d896cfb.43132b","name":"return JSON screen descritpion","func":"var screen_data = {};\nscreen_data.name = \"screen2\";\nscreen_data.notify_url = \"https://160.85.4.100:1880/notify\";\nscreen_data.display = \":1\";\nmsg.payload = screen_data;\nreturn msg;\n","outputs":1,"noerr":0,"x":303,"y":236,"wires":[["3262baed.58ad56"]]},{"id":"3262baed.58ad56","type":"json","z":"1d896cfb.43132b","name":"","x":371,"y":337,"wires":[["ef569a08.9df8","3a466d32.2347aa"]]},{"id":"3a466d32.2347aa","type":"http request","z":"1d896cfb.43132b","name":"Register screen on bettercast","method":"POST","ret":"txt","url":"https://bettercast.ddns.net:8080/register","x":619,"y":343,"wires":[[]]},{"id":"cae95537.5bd09","type":"http in","z":"1d896cfb.43132b","name":"trigger register","url":"/trigger_register","method":"post","swaggerDoc":"","x":76.5,"y":177,"wires":[["3b549870.f0e8f8","afb53b1e.11b158"]]},{"id":"afb53b1e.11b158","type":"http response","z":"1d896cfb.43132b","name":"respond","x":272,"y":90,"wires":[]}]
